##################
# Main Component #
##################

dependency-injector~=4.41
mysql-connector-python~=8.3
PyMySQL~=1.1
flask~=3.0
pytest
pytest-cov
pytest-flask
python-dotenv~=1.0
requests~=2.31
SQLAlchemy~=2.0
urllib3~=2.2


#########################
# ML-Pipeline Component #
#########################
# code quality packages
ipython>=8.10
ruff~=0.1.8

# notebook tooling
jupyterlab>=3.0
notebook

# Kedro dependencies and datasets to work with different data formats (including CSV, Excel, and Parquet)
kedro~=0.19.2
kedro-datasets[pandas.CSVDataset, pandas.ExcelDataset, pandas.ParquetDataset]>=1.0
kedro-viz>=6.7.0
#kedro-mlflow~=0.12.0
mlflow~=2.11.0


# Pytest + useful extensions
pytest-mock>=1.7.1, <2.0

# For modelling in the data science pipeline
xgboost
scikit-learn~= 1.4.0
mysqlclient~=2.2.0
pandas~=2.2.0
openpyxl~=3.1.0
pandas_ta~=0.3.14b0
torch ~= 2.2.0
seaborn~=0.13.0
statsmodels~=0.14.0

# For visualization
matplotlib~=3.8.0
matplotlib-inline>=0.1.6
mplfinance ~= 0.12.10b0 # for candlestick charts

